nav{
    height: 70px;
    background-color:aqua;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
    padding-top: auto;
    display: flex;
    

}
nav h2{
    font-size: 25px;
    color: black;
    margin-left: 10px;
    margin-right: auto;
    
}
nav a{
    
   padding: 30px 30px;
   text-decoration: none;
 


}
nav h2 span
{
    color: red;
}

/* #pqr
{
    
    border: 2px inset black;
    border-radius: 10px;
    margin-right: 10px;
    background-color: beige;
}
#xyz
{
    
    border: 2px inset black;
    border-radius: 10px;
    margin-right: 10px;
    background-color: beige;
}
#lmn
{
    
    border: 2px inset black;
    border-radius: 10px;
    margin-right: 10px;
    background-color: beige;
}
#pmk
{
    
    border: 2px inset black;
    border-radius: 10px;
    margin-right: 10px;
    background-color: beige;
} */
a:hover{
    color: red;
}
#home
{
    height: auto;
    margin-top: 20px;
    padding-top: 20px;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 10px;
    text-align: center;
}
#home h1{
 color: chocolate;
}
#home h2{
    color: darkmagenta;
}
#home p{
    color: crimson;
}
#about
{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 10px;
    text-align: center;
}
#skills
{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 10px;
    text-align: center;
}
#projects
{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 10px;
    text-align: center;
}
#contact
{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 10px;
    text-align: center;
}
